@font-face { font-family: "UAF Memory"; font-weight: 300; font-style: normal; font-display: swap;
  src: url("../assets/fonts/UAFMemory-Light.woff2") format("woff2"); }
@font-face { font-family: "UAF Memory"; font-weight: 400; font-style: normal; font-display: swap;
  src: url("../assets/fonts/UAFMemory-Regular.woff2") format("woff2"); }
@font-face { font-family: "UAF Memory"; font-weight: 500; font-style: normal; font-display: swap;
  src: url("../assets/fonts/UAFMemory-Medium.woff2") format("woff2"); }
@font-face { font-family: "UAF Memory"; font-weight: 700; font-style: normal; font-display: swap;
  src: url("../assets/fonts/UAFMemory-Bold.woff2") format("woff2"); }
@font-face { font-family: "UAF Memory"; font-weight: 900; font-style: normal; font-display: swap;
  src: url("../assets/fonts/UAFMemory-Black.woff2") format("woff2"); }
